*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.logo {
  -ms-flex-item-align: center;
  align-self: center;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.hero {
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.about-us-letters {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 196px;
  height: 300px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.075);
  -webkit-transform: translateY(140px);
  -ms-transform: translateY(140px);
  transform: translateY(140px);
}

.nav-bar {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 32px 0px;
}

.nav-list {
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.button {
  font-family: 'Helvetica', serif;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 10px;
  margin: auto 2px;
  text-decoration: none;
}

.button:hover {
  background-color: #00b0ff;
  color: white;
  cursor: pointer;
}

.title {
  margin: 100px auto;
}

.title h1, .title h2 {
  text-align: center;
  color: #000000;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0px auto;
}

.title h1 {
  font-size: 50px;
}

.title h2 {
  font-size: 24px;
  color: white;
}

.social-icons {
  color: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon-black-circe {
  background-color: #000;
  border-radius: 128px;
  display: inline;
  padding: 12px;
  -ms-flex-item-align: center;
  align-self: center;
  margin: 0px 6px;
}

.store {
  background: #00b0ff;
  background: -webkit-linear-gradient(315deg, #00b0ff 0%, #00b0ff 37%, white 37%, white 100%);
  background: -o-linear-gradient(315deg, #00b0ff 0%, #00b0ff 37%, white 37%, white 100%);
  background: linear-gradient(135deg, #00b0ff 0%, #00b0ff 37%, white 37%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeff', endColorstr='#ffffff', GradientType=1 );
  max-width: 1028px;
  min-height: 600px;
  margin: 0px auto;
  -webkit-box-shadow: 0px -8px 30px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px -8px 30px 0px rgba(0, 0, 0, 0.34);
}

.about-us {
  background-image: url(../images/about.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  margin-bottom: 200px;
  position: relative;
  z-index: 1;
}

.about-us .left {
  background-color: #fff;
  margin: 300px 0px 0px 0px;
  width: 50%;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}

.x-icon {
  text-align: center;
  display: block;
  margin: 10px;
}

.left-box {
  max-width: 360px;
  float: right;
  margin: 100px 120px 10px 10px;
}

.left-box p {
  font-family: 'Playfair Display', serif;
  size: 22px;
  font-style: italic;
  font-size: 22px;
  line-height: calc(36/22);
}

.left-box a {
  font-family: 'Montserrat', sans-serif;
  color: #00b0ff;
  font-size: 16px;
}

.about-us iframe {
  margin: 560px 0px 0px 70px;
}

.updates {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.updates .header {
  padding: 10px 0px;
  max-width: 900px;
  margin: auto;
}

.center {
  margin: auto;
}

.link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 18px 30px;
  text-transform: uppercase;
  color: white;
  background-color: #00b0ff;
  display: inline-block;
  text-decoration: none;
  margin: 25px auto;
}

.link:hover {
  -webkit-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.gallery {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallery-item {
  height: 345px;
  background-color: white;
  width: 270px;
  margin: 15px 15px;
  color: #787878;
}

.gallery-item img {
  max-width: 100%;
}

.gallery-item:hover {
  -webkit-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #0022ff !important;
}

.gallery-item h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 26px;
  font-weight: 400;
}

.social .left {
  width: 585px;
  max-height: 555px;
}

.social .right {
  min-width: 440px;
  max-width: 585px;
  margin: 0px auto;
}

.instagram {
  width: 100%;
  position: relative;
  z-index: 1;
}

.facebook {
  background-image: url("../images/fbbg.jpg");
  background-repeat: no-repeat;
  min-width: 440px;
  margin: 170px auto 0px;
  height: 390px;
}

.fb-page {
  margin: 100px 50px auto 50px;
}

.instagram-letters {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.075);
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}

footer {
  background-color: black;
  height: 420px;
}

footer .boxas {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.boxas .panel {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 200px;
  width: 300px;
  margin: 45px 200px 0px 50px;
}

.boxas .panel .list-item {
  margin: 0px 40px 30px 0px;
}

.boxas .panel a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: white;
  font-weight: regular;
}

.boxas .newsletter {
  width: 300px;
  margin: 45px 200px 45px 50px;
}

.boxas .newsletter h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: regular;
}

.newsletter .email-input {
  border: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  background-color: #000;
  width: 230px;
  padding-bottom: 8px;
}

.newsletter .email-submit {
  background-color: #00b0ff;
  border-radius: 64px;
  border-width: 0px;
  padding: 12px;
  width: 4px;
  height: 4px;
  margin-bottom: 4px;
  float: right;
}

.newsletter .input-form {
  border: 2px solid #4d4d4d;
  border-width: 0px 0px 2px 0px;
  width: 300px;
}

.newsletter .icon-envelop {
  color: #4d4d4d;
  padding-top: 4px;
  vertical-align: center;
}

/* .notes{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
     ps spacinimo reiksme lygi x/1000 ten kur VA parasyta ir tarpai tarp eiliu cia kur "characters"
} */
